<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Service</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <h1>Edit IP Address</h1>
    <div class="container">
        <h2 class="mb-4">Edit IP Address</h2>
        <form th:action="@{/ipaddresses/update/{id}(id=${ipAddress.id})}" method="post" th:object="${ipAddress}">
            <input type="hidden" th:value="${ipAddress.id}" name="id" />
            <input type="hidden" name="ipPoolId" th:value="${ipAddress.ipPool.id}" />
            <div class="form-roup">
                <label for="ip">IP:</label>
                <input type="text" id="ip" name="ip" class="form-control" th:value="${ipAddress.ip}" required />
                <div style="height: 10px;"></div>
                <label for="hostname">Hostname:</label>
                <input type="text" id="hostname" name="hostname" class="form-control" th:value="${ipAddress.hostname}"
                    required />
                <div style="height: 20px;"></div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

</html>