<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IP Pool List</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
    <h1>IP Pools</h1>
</div>
<div class="col-md-4">
    <h3>Welcome! </h3>
</div>
</div>
<div class="row mb-3">
    <div class="col text-left">
        <a class="btn btn-primary" href="/addippool">Add New IP Pool</a>
        <br>
    </div>
</div>

    <table class="table table-stripe">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start IP</th>
                <th>End IP</th>
                <th>Subnet Mask</th>
                <th>Gateway</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ipPool : ${ippools}">
                <td th:text="${ipPool.id}"></td>
                <td th:text="${ipPool.name}"></td>
                <td th:text="${ipPool.description}"></td>
                <td th:text="${ipPool.startIp}"></td>
                <td th:text="${ipPool.endIp}"></td>
                <td th:text="${ipPool.subnetMask}"></td>
                <td th:text="${ipPool.gateway}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${ipPool.id})}">Edit</a> |
                    <a th:href="@{/deleteippool/{id}(id=${ipPool.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
        
    </table>
</body>
</html>