<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IP Pool List</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
    <h1>IP Pools</h1>
</div>
<div class="col-md-4">
    <h3>Welcome! </h3>
</div>
    <table class="table table-stripe">
        <thead>
            <tr>
                <th>IP Range</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ipPool : ${ippools}">
                <td th:text="${ipPool.range}"></td>
                <td th:text="${ipPool.description}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${ipPool.id})}">Edit</a> |
                    <a th:href="@{/deleteippool/{id}(id=${ipPool.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addippool">Add New IP Pool</a>
</body>
</html>